.bgGreen {
    background-color: #17c2a4;
}

.tituloDos {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 50px;
    text-align: center;
}

.parrafo {
    margin:auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

/****************
    Images
*****************/
.imagesContainer {
    margin: 0 auto;
    width: 80%;
}

img + img {
    margin-left: 150px;
}



